{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}


{% block stylesheets %}

<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


<style>

body{
    margin:30px;
}

#ovale{
    width:700px;
    height:600px;
    border-radius:800px / 600px ;
    background: url(" {{ asset('asset/img/imgSens5.jpg')}} ");
    background-size: contain;
    background-repeat: no-repeat;
}

.title{
    font-size:60px;
    color:#CEAAE3;
    transition: all .2s ease-in-out;
}

.title:hover{
    transform: scale(0.8);
}



.fa-calendar-alt, .fa-clock, .fa-volume-up, .fa-male{
    margin:7px;
    font-size:50px;
    color:#420068;
    transition: all .2s ease-in-out;
}

.fa-calendar-alt:hover, .fa-clock:hover, .fa-volume-up:hover, .fa-male:hover{
    color:#CEAAE3;
}


ul > li {
    list-style: circle;
    margin:8px;
}   


.imgToHover{
    transition: all .2s ease-in-out;
}

.imgToHover:hover{
    transform: scale(0.8);
}



@media screen and (max-width: 1210px){
    .missions{
        flex-wrap: wrap;
    }
    .toMissions{
        margin:10px;
    }
}



{# FLECHE HAUT SITE #}

.cRetour {
  border-radius:3px;
  padding:10px;
  font-size:24px;
  text-align:center;
  color:#420068;
  background:rgba(0, 0, 0, 0.25);
  z-index:99999;
  transition:all ease-in 0.2s;
  position: fixed;
  cursor: pointer;
  bottom: 1em;
  right: 20px;
  display: none;
}
.cRetour:before{ content: "\25b2"; }
.cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}

{#  FIN FLECHE HAUT SITE #}


{# FOOTER #}

.footerLink{
    text-decoration:none;
    color:#420068;
    transition: all .2s ease-in-out;
    margin:7px;
}

.footerLink:hover{
    transform: scale(1.2);
}

.fa-instagram, .fa-linkedin, .fa-facebook{
    font-size:50px;
    color: white;
    transition: all .2s ease-in-out;
}

.fa-instagram:hover, .fa-linkedin:hover, .fa-facebook:hover{
    transform: scale(1.2);
}

{# FIN FOOTER #}

</style>


{% endblock %}


{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>


<script>            
jQuery(document).ready(function() {
  var duration = 500;
  jQuery(window).scroll(function() {
    if (jQuery(this).scrollTop() > 100) {
      // Si un défillement de 100 pixels ou plus.
      // Ajoute le bouton
      jQuery('.cRetour').fadeIn(duration);
    } else {
      // Sinon enlève le bouton
      jQuery('.cRetour').fadeOut(duration);
    }
  });
				
  jQuery('.cRetour').click(function(event) {
    // Un clic provoque le retour en haut animé.
    event.preventDefault();
    jQuery('html, body').animate({scrollTop: 0}, duration);
    return false;
  })
});
</script>




{% endblock %}


{% block body %}

<div style="display:flex;justify-content:center;">

<div id="ovale" style="display:flex;flex-direction:column;justify-content:center;">

    <h2 class="title">Ateliers Senscritique By</h2>
    <h2 class="title">WITECH</h2>


</div>

</div>


<section>

<div style="display:flex;justify-content:center;margin-top:100px;">


        <div style="width:80%;text-align:center;">

            <p style="font-size:22px;margin-top:15px;">Avec pour objectif d’éveiller l’esprit critique des adolescentes de 12-17 ans à travers des sujets majeurs de la société, les ateliers senscritique permettent aussi de faire connaître des métiers très étroitement liés à l’univers tech.
            </p>
        
        </div>

</div>



<div style="display:flex;justify-content:center;border-bottom:1px solid rgba(0,0,0,.125);margin-top:80px;">
        <h3 style="background: #420068;
            background: -webkit-linear-gradient(to right, #420068 0%, #AB8EBC 100%);
            background: -moz-linear-gradient(to right, #420068 0%, #AB8EBC 100%);
            background: linear-gradient(to right, #420068 0%, #AB8EBC 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;">NOUS AVONS DEJA REALISES</h3>
    </div>

    <div class="missions" style="display:flex;justify-content:space-around;margin-top:50px;">
    
        <div class="card toMissions" style="width: 18rem;border-radius:10px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
            <div class="card-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
                <p style="font-size:25px;">Nombre de stages</p>
                <i class="fas fa-calendar-alt"></i>
                <p class="card-text" style="font-weight:bold;margin:7px;font-size:25px;">1</p>
            </div>
        </div>

       <div class="card toMissions" style="width: 18rem;border-radius:10px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
            <div class="card-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
                <p style="font-size:25px;">Heures</p>
                <i class="far fa-clock"></i>
                <p class="card-text" style="font-weight:bold;margin:7px;font-size:25px;">2 journées</p>
            </div>
        </div>

         <div class="card toMissions" style="width: 18rem;border-radius:10px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
            <div class="card-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
                <p style="font-size:25px;">Intervenants</p>
                <i class="fas fa-volume-up"></i>
                <p class="card-text" style="font-weight:bold;margin:7px;font-size:25px;">6</p>
            </div>
        </div>

         <div class="card toMissions" style="width: 18rem;border-radius:10px;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;">
            <div class="card-body" style="display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">
                <p style="font-size:25px;">Participants</p>
                <i class="fas fa-male"></i>
                <p class="card-text" style="font-weight:bold;margin:7px;font-size:25px;">16</p>
            </div>
        </div>

    </div>





</section>


<div style="border-bottom: 1px solid rgba(0,0,0,.125); margin-top:100px;">
</div>


<div style="display:flex;justify-content:space-around;margin-top:50px;flex-wrap:wrap;">

    <img class="imgToHover" style="width:300px;border:1px solid #420068;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;margin:11px;" src="{{ asset('asset/img/imgSens1.jpg')}}" alt="">
    <img class="imgToHover" style="width:300px;height:300px;border:1px solid #420068;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;margin:11px;" src="{{ asset('asset/img/imgSens2.jpg')}}" alt="">
    <img class="imgToHover" style="width:350px;border:1px solid #420068;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;margin:11px;" src="{{ asset('asset/img/imgSens3.jpg')}}" alt="">



</div>

<div style="display:flex;justify-content:space-around;margin-top:50px;">

    <img class="imgToHover" style="width:300px;border:1px solid #420068;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;" src="{{ asset('asset/img/imgSens4.jpg')}}" alt="">
    <img class="imgToHover" style="width:300px;border:1px solid #420068;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;" src="{{ asset('asset/img/banniereSens2.jpg')}}" alt="">




</div>




<div style="border-bottom:1px solid rgba(0,0,0,.125);margin-top:100px;"></div>


    <footer style="margin-top:80px; display:flex;flex-direction:column;justify-content:center;align-items:center;">
        <div style="background: url( {{ asset('asset/img/banniereFooter.jpg')}} );width:800px;height:300px; display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;">

            <p style="font-size:20px;color:white;">"Aucune lutte ne peut aboutir sans que les femmes y participent aux côtés des hommes. Il y a deux pouvoirs dans le monde. L'un celui de l'épée, l'autre celui de la plume. Il en existe un troisième plus fort encore que les deux premiers :
celui des femmes."</p>
            <p style="color:white">Malala Yousafzai, prix Nobel de la Paix</p>
        
        </div>


        <div style="width:900px;height:300px; background-color:#CEAAE3;margin-top:15px;display:flex;justify-content:space-around;">
            <div style="display:flex;justify-content:center;align-items:center;">
                <a class="footerLink"  href="{{ path('contactNous') }}"><h4>NOUS CONTACTER</h4></a>
            </div>

            <div style="display:flex;flex-direction:column;justify-content:center;align-items:center;">
                <h4>NOUS SUIVRE</h4>

                <div style="display:flex;justify-content:space-evenly; width:200px;">
                    <a href="https://www.instagram.com/wi_tech_/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/wi-tech-io/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.facebook.com/witech.io/" target="_blank"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        
        </div>
    
    
    </footer>





<div class="cRetour">
    </div>


{% endblock %}